* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
    background-color: lightgray;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.item {
    height: 50vh;
    width: 50vw;
    display: none;
}

.img_slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    display: block;
}

.arrow_previous {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    z-index: 999;
}

.arrow_next {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    z-index: 999;
}

/* Di seguito: codice per le miniature */

.thumbnail_container {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
}

.thumbnail_container .t_img {
    width: 100%;
    height: calc(100% / 5 * 1);
    filter: brightness(30%);
}

.thumbnail_container .t_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.t_img.active {
    filter: brightness(100%);
    border: 5px solid plum;
}

/* Di seguito: codice per il testo sovrapposto alle immagini */
h1 {

}

p {

}